<div class="linechart-component" data-id="{{id}}"></div>
  {{#if title}}
    <h3 class="linechart-title">{{title}}</h3>
  {{/if}}
  <div class="linechart-list">
    {{#each elements}}
      <div class="linechart-list__item">
        <span class="linechart-list__text">{{text}}</span>
        <div class="linechart-list__barwrap">
          <span class="linechart-list__bar" style="width: {{val}}%; background: {{color}}"></span>
        </div>
        <span class="linechart-list__val">{{val}}%</span>
      </div>
    {{/each}}
  </div>
</div>
