<div class="multibar-component" data-id="{{id}}">
  {{#if title}}
    <h3 class="multibar-title">{{title}}</h3>
  {{/if}}

<div class="multibar-box">

  <div class="multibar-legend">
    {{#each legend}}
      <div class="multibar-legend__item">
        <span class="multibar-legend__color" style="background: {{color}}"></span>
        <span class="multibar-legend__text">{{text}}</span>
      </div>
    {{/each}}
  </div>
  <div class="multibar-list">
    {{#each elements}}
      <div class="multibar-list__item">
        <span class="multibar-list__text">{{text}}</span>
        <div class="multibar-list__barwrap">
          {{#each (reverse vals)}}
            <span class="multibar-list__bar" style="width: {{percent289 this}}%; background: {{legendColor ../../legend @index}}; border-radius: 50%"></span>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>

</div>


</div>
</div>
