<div class="segment" {{#if dataId}}data-id="{{dataId}}"{{/if}}>
  
  {{#if h1title}}
    <h1 class="h1title">{{{h1title}}}</h2>
  {{/if}}
  
  {{#if title}}
    <h2 class="title">{{{title}}}</h2>
  {{/if}}
  {{#if description}}
    <p class="description">{{description}}</p>
  {{/if}}
  {{#if children}}
    <div class="children">{{{children}}}</div>
  {{/if}}
</div>
